.btn-primary {
    background: #FF9900;
    border: 0;
    padding: 17px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover{
    background: #835716;
    border: 0;
}

.btn-secondary {
    background: none ;
    border: #BCD0E5 solid 0.5px;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #173A56;
    margin-left: 50px;
    margin-right: 15px;
}

.collapse{
    margin-left: 500px;
}

.hero h1{
    font-family: 'Poppins';
    font-weight: 700;
}

.hero {
    font-family: 'Poppins';
    font-weight: 400;
}

.navbar .nav-link{
    color: #2F281E;

}

.hero .btn-secondary:before{
    background: none;
}

.mt-n1 {
    margin-top: 10.00rem !important;
  }

.features h1{
    font-family: 'Poppins';
    font-weight: 700;
    text-align: center;
}

.features h3{
    font-family: 'Poppins';
    font-weight: 600;
}

.features img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

